[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DOSPortfolio"]
	path = DOSPortfolio
	url = https://github.com/statistics-in-portfolio-theory/dosportfolio
